/* Reset styles and global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-family);
    overflow-x: hidden;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    width: fit-content;
    height: fit-content;
}

.container {
    min-height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}

a, button {
    transition: 0.5s ease;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__discription {
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    padding: 16px 24px;    
    font-weight: 500;
    font-size: 18px;
    line-height: 128%;
    letter-spacing: -0.02em;
    color: #fff;
    background: var(--primary-500);
}

.btn:hover {
    background: var(--primary-600);
}

.btn__icon  {
    transition: 0.5s ease;
}

.btn:hover .btn__icon {
    transform: translateX(5px) scale(1.2);
}

.scrolling {
    overflow: hidden;
}

.paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: -0.02em;
}

.decoration::after {
    content: url(../../../svg/decoration.svg);
    position: absolute;
    bottom: -30px;
    right: -10px;
    z-index: -1;
}