@media (max-width: 990px) {
    .hero {
        height: initial;
    }

    .hero__container {
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }

    .hero__heading {
        text-align: center;
        align-items: center;
    }

    .hero__text {
        align-items: center;
    }

    .hero__title {
        font-size: 54px;
    }

    .hero__image {
        max-width: 550px;
    }
}

@media (max-width: 420px) {
    .hero__title {
        font-size: 36px;
    }
}