@media (max-width: 1052px) {
    .sponsors__items {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 875px) {
    .sponsors__title {
        font-size: 54px;
    }
}

@media (max-width: 490px) {
    .sponsors__title {
        font-size: 36px;
    }
}